# ===================================================================
# Build Artifacts & Packaged Files
# ===================================================================
HELP.md
build/
out/
target/
dist/
bin/

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# ===================================================================
# Dependency Management
# ===================================================================
# Ignore the .gradle directory, but keep the wrapper
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# ===================================================================
# IDE Specific Files
# ===================================================================
### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
shelf/

### Eclipse / Spring Tool Suite (STS) ###
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

### NetBeans ###
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/
codebase-txt

### BlueJ ###
*.ctxt

# ===================================================================
# Logs, Temporary Files & Runtime Data
# ===================================================================
# Log files
*.log

# JVM crash logs
hs_err_pid*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Temporary files
*.tmp

# ===================================================================
# OS Specific Files
# ===================================================================
# macOS
.DS_Store

# ===================================================================
# Secrets - DO NOT COMMIT
# ===================================================================
.env


/details.txt
qodana.yaml
/redis/tls
redis/redis.conf
cookies.txt
synaxicdb.mv.db
